@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700,300);

body {
    font-family: 'Raleway', sans-serif;
}

.data-form {
    font-size: 14px;
}

.form-label {
    margin-top: 10px;
}

.navbar ul.dropdown-menu li a {
    color: #333;
}

.navbar ul.dropdown-menu li a:hover {
    color: #333;
}

.highlight-p {
    font-size: 20px;
}